.desktop8-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}
.desktop8-desktop8 {
    width: 100%;
    height: 714px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
}
.desktop8-text {
    top: 28px;
    left: 532px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.registernumber {
    top: 135px;
    left: 75px;
    width: 250px;
    height: 46px;
    position: absolute;
}
.brand {
    top: 222px;
    left: 75px;
    width: 250px;
    height: 46px;
    position: absolute;
}
.rates{
    top: 309px;
    left: 75px;
    width: 250px;
    height: 46px;
    position: absolute;
}
.frontview {
    top: 396px;
    left: 75px;
    width: 250px;
    height: 46px;
    position: absolute;
}
.backview {
    top: 483px;
    left: 75px;
    width: 250px;
    height: 46px;
    position: absolute;
}
.freemilage {
    top: 570px;
    left: 75px;
    width: 250px;
    height: 46px;
    position: absolute;
}
.sideview {
    top: 135px;
    left: 494px;
    width: 250px;
    height: 46px;
    position: absolute;
}
.interior {
    top: 222px;
    left: 494px;
    width: 250px;
    height: 46px;
    position: absolute;
}
.numberofpassengers {
    top: 309px;
    left: 494px;
    width: 250px;
    height: 46px;
    position: absolute;
}
.type {
    top: 396px;
    left: 494px;
    width: 250px;
    height: 46px;
    position: absolute;
}
.dailyrate {
    top: 483px;
    left: 494px;
    width: 250px;
    height: 46px;
    position: absolute;
}
.mothlyrate {
    top: 135px;
    left: 926px;
    width: 250px;
    height: 46px;
    position: absolute;
}
.priceofextrakm {
    top: 222px;
    left: 926px;
    width: 250px;
    height: 46px;
    position: absolute;
}
.freemilage{
    top: 309px;
    left: 926px;
    width: 250px;
    height: 46px;
    position: absolute;
}
.color {
    top: 396px;
    left: 926px;
    width: 250px;
    height: 46px;
    position: absolute;
}
.vehicleavailabilitytype {
    top: 483px;
    left: 926px;
    width: 250px;
    height: 46px;
    position: absolute;
}
.desktop8-text02 {
    top: 111px;
    left: 75px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop8-text04 {
    top: 198px;
    left: 75px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop8-text06 {
    top: 285px;
    left: 75px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop8-text08 {
    top: 372px;
    left: 75px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop8-text10 {
    top: 459px;
    left: 75px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop8-text12 {
    top: 546px;
    left: 75px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop8-text14 {
    top: 111px;
    left: 494px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop8-text16 {
    top: 198px;
    left: 494px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop8-text18 {
    top: 285px;
    left: 494px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop8-text20 {
    top: 372px;
    left: 494px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop8-text22 {
    top: 459px;
    left: 494px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop8-text24 {
    top: 111px;
    left: 926px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop8-text26 {
    top: 198px;
    left: 926px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop8-text28 {
    top: 285px;
    left: 926px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop8-text30 {
    top: 372px;
    left: 926px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop8-text32 {
    top: 459px;
    left: 926px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.buttonsave {
    top: 643px;
    left: 744px;
    width: 127px;
    height: 41px;
    position: absolute;
    border-radius: 30px;
}
.buttonupdate{
    top: 643px;
    left: 919px;
    width: 127px;
    height: 41px;
    position: absolute;
    border-radius: 30px;
}
.buttondelete {
    top: 643px;
    left: 1094px;
    width: 127px;
    height: 41px;
    position: absolute;
    border-radius: 30px;
}
.desktop8-text34 {
    top: 651px;
    left: 769px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop8-text36 {
    top: 651px;
    left: 944px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop8-text38 {
    top: 651px;
    left: 1119px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
