<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/addcars.css">
</head>
<body>
<section>

    <div>

        <div class="desktop8-container">
            <div class="desktop8-desktop8">
                <span class="desktop8-text"><span>Add Vehicle</span></span>
                <input type="text" placeholder="Input" class="registernumber" />
                <input type="text" placeholder="Input" class="brand" />
                <select class="rates">
                    <option value="Option 1">general</option>
                    <option value="Option 2">premium</option>
                    <option value="Option 2">luxury</option>
                <input type="file" class="frontview" required>
                <input type="file" class="backview" required>
                <input type="text" placeholder="Input" class="freemilage" />
                <input type="file" class="sideview" required>
                <input type="file" class="interior" required>
                <input type="text" placeholder="Input" class="numberofpassengers" />
                <input type="text" placeholder="Input" class="type" />
                <input type="text" placeholder="Input" class="dailyrate" />
                <input type="text" placeholder="Input" class="mothlyrate" />
                <input type="text" placeholder="Input" class="priceofextrakm" />
                <input type="text" placeholder="Input" class="freemilage" />
                <input type="text" placeholder="Input" class="color" />
                <select class="vehicleavailabilitytype">
                    <option value="Option 1">petrol</option>
                    <option value="Option 2">diesel</option>

                </select>
                <span class="desktop8-text02"><span>Register Number</span></span>
                <span class="desktop8-text04"><span>Brand</span></span>
                <span class="desktop8-text06"><span>Rates</span></span>
                <span class="desktop8-text08"><span>Front view</span></span>
                <span class="desktop8-text10"><span>Back view</span></span>
                <span class="desktop8-text12"><span>Free Mileage</span></span>
                <span class="desktop8-text14"><span>side view</span></span>
                <span class="desktop8-text16"><span>interior</span></span>
                <span class="desktop8-text18"><span>Number of passenger</span></span>
                <span class="desktop8-text20"><span>Type</span></span>
                <span class="desktop8-text22"><span>Daily Rate</span></span>
                <span class="desktop8-text24"><span>Monthly rate</span></span>
                <span class="desktop8-text26"><span>Price for extra KM</span></span>
                <span class="desktop8-text28"><span>Free Mileage</span></span>
                <span class="desktop8-text30"><span>color</span></span>
                <span class="desktop8-text32"><span>Vehicle Availability Type</span></span>



                    <button type="button" class="buttonsave">Save</button>
                    <button type="button" class="buttonupdate">Update</button>
                    <button type="button" class="buttondelete">Delete</button>



            </div>
        </div>
    </div>

</section>
</body>
</html>