<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/Cars.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>


<body>

<header class="header">
    <a href="#" class="logo">Cars.</a>

    <nav class="navbar">
        <a href="adminhome.html" style="--i:1;" class="active">Home</a>
        <a href="Cars.html" style="--i:2;" >Cars</a>
        <a href="customers.html" style="--i:3;" >Customer Details</a>
        <a href="rentalRequests.html" style="--i:4;" >Rent Requests</a>
        <a href="drivers.html" style="--i:5;" >Drivers</a>
        <a href="schedule.html" style="--i:6;" >Schedule</a>
        <a href="Income.html" style="--i:7;" >Income</a>
    </nav>

    <div class="social-media">
        <a href="#" style="--i:1;" ><i class='bx bxl-twitter'></i></a>
        <a href="#" style="--i:2;" ><i class='bx bxl-facebook-circle'></i></a>
        <a href="#" style="--i:3;" ><i class='bx bxl-instagram' ></i></a>
    </div>

</header>

<!--====-->

<div>
    <link href="./desktop41.css" rel="stylesheet" />
    <div class="desktop41-container">
        <div class="desktop41-desktop4">
            <img
                    alt="Rectangle8243"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/001a5454-4abb-48f4-abaf-10b66f023828/507ee85c-e775-49fa-9df8-bba314781c54?org_if_sml=1778&amp;force_format=original"
                    class="desktop41-rectangle8"
            />
            <img
                    alt="Rectangle92520"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/001a5454-4abb-48f4-abaf-10b66f023828/c5ca16ea-0af8-43c6-a455-961f140ae087?org_if_sml=1778&amp;force_format=original"
                    class="desktop41-rectangle9"
            />
            <span class="desktop41-text"><span>General Cars</span></span>
            <span class="desktop41-text2"><span>Premium Cars</span></span>
            <span class="desktop41-text4"><span>Premium Cars</span></span>
            <img
                    alt="Rectangle102522"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/001a5454-4abb-48f4-abaf-10b66f023828/cde7c361-9adb-4cd8-86fa-6b824a568dd8?org_if_sml=11190&amp;force_format=original"
                    class="desktop41-rectangle10"
            />
            <img
                    alt="Rectangle122524"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/001a5454-4abb-48f4-abaf-10b66f023828/efabee44-5670-4811-8a1b-a663e5de9afc?org_if_sml=11190&amp;force_format=original"
                    class="desktop41-rectangle12"
            />
            <img
                    alt="Rectangle142527"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/001a5454-4abb-48f4-abaf-10b66f023828/7cf182d3-846e-44ce-b3eb-86cc3afa15f7?org_if_sml=11190&amp;force_format=original"
                    class="desktop41-rectangle14"
            />
            <img
                    alt="Rectangle152528"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/001a5454-4abb-48f4-abaf-10b66f023828/968d63e2-91c2-40d6-9fbe-1fee9de33ae6?org_if_sml=11190&amp;force_format=original"
                    class="desktop41-rectangle15"
            />
            <img
                    alt="Rectangle132525"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/001a5454-4abb-48f4-abaf-10b66f023828/20391c40-7a05-403a-ab5c-6c291c8ed891?org_if_sml=11190&amp;force_format=original"
                    class="desktop41-rectangle13"
            />
            <img
                    alt="Rectangle112523"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/001a5454-4abb-48f4-abaf-10b66f023828/48703b63-f19d-47b8-97c7-e968d0d1dcac?org_if_sml=11190&amp;force_format=original"
                    class="desktop41-rectangle11"
            />
        </div>
    </div>
</div>




<!--====-->




</body>


</html>