<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/drivers.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../assets/css/boostrap/bootstrap.min.css">
    <script src="../assets/js/jquery-3.6.1.min.js"></script>

</head>


<body>

<header class="header">
    <a href="#" class="logo">Cars.</a>

    <nav class="navbar">
        <a href="adminhome.html" style="--i:1;" class="active">Home</a>
        <a href="Cars.html" style="--i:2;" >Cars</a>
        <a href="customers.html" style="--i:3;" >Customer Details</a>
        <a href="rentalRequests.html" style="--i:4;" >Rent Requests</a>
        <a href="drivers.html" style="--i:5;" >Drivers</a>
        <a href="schedule.html" style="--i:6;" >Schedule</a>
        <a href="Income.html" style="--i:7;" >Income</a>
    </nav>

    <div class="social-media">
        <a href="#" style="--i:1;" ><i class='bx bxl-twitter'></i></a>
        <a href="#" style="--i:2;" ><i class='bx bxl-facebook-circle'></i></a>
        <a href="#" style="--i:3;" ><i class='bx bxl-instagram' ></i></a>
    </div>

</header>
<main>

    <section class="driverform">


        <div>
            <link href="./desktop9.css" rel="stylesheet" />
            <div class="desktop9-container">
                <div class="desktop9-desktop9">
                    <span class="desktop9-text"><span>Manage Drivers</span></span>
                    <input id="txtNICNumber" type="text" placeholder="InputNIC" class="nicnumber" />
                    <input id="txtPhoneNumber"  type="text" placeholder="Input" class="phonenumber" />
                    <input id="txtEmail"  type="text" placeholder="Input" class="email" />
                    <input id="txtUserName"  type="text" placeholder="Input" class="username" />
                    <input id="txtPassword"  type="text" placeholder="Input" class="password" />
                    <input id="txtLicenseCardNumber"  type="text" placeholder="Input" class="licencardnumber" />
                    <input id="txtYourName"  type="text" placeholder="Input" class="yourname" />
                    <input id="txtAddress"  type="text" placeholder="Input" class="address" />
                    <input id="txtAvailability"  type="text" placeholder="Input" class="availability" />
                    <span class="desktop9-text02"><span>NIC Number</span></span>
                    <span class="desktop9-text04"><span>Phone Number</span></span>
                    <span class="desktop9-text06"><span>Email</span></span>
                    <span class="desktop9-text08"><span>Username</span></span>
                    <span class="desktop9-text10"><span>Password</span></span>
                    <span class="desktop9-text12"><span>licence Card Number</span></span>
                    <span class="desktop9-text14"><span>Your Name</span></span>
                    <span class="desktop9-text16"><span>Address</span></span>
                    <span class="desktop9-text18"><span>Availability</span></span>
                    <button type="button" id="btnSaveDriver" class="buttonsave">Save</button>
                    <button type="button" class="buttonupdate">Update</button>
                    <button type="button" class="buttondelete">Delete</button>




                    <img src="/line14420-hwrf.svg" alt="Line14420" class="desktop9-line1" />
                </div>
            </div>
        </div>




    </section>



    <section class="table">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Id</th>
                <th scope="col">Address</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>

    </section>
    <script src="../controllers/driverLoginController.js"></script>
</main>
</body>


</html>