<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/login.css">
    <script src="../assets/js/jquery-3.6.1.min.js"></script>
    <script src="../controllers/customerLoginController.js"></script>
    <script src="../controllers/adminLoginController.js"></script>
    <script src="../controllers/driverLoginController.js"></script>
</head>
<div>

    <div class="desktop22-container">
        <div class="desktop22-desktop2">
            <div class="desktop22-frame1">



                <a class="lostpswrd" href="../index.html">Lost Password?</a>
                <span class="desktop22-text02">
          <span>By Clicking Log In, you agree to our User Agreement</span>
        </span>
                <span class="desktop22-text04"><span>Remember Me</span></span>
                <span class="desktop22-text06"><span>Log In</span></span>
                <span class="desktop22-text08"><span>Log In</span></span>
                <span class="desktop22-text10"><span>Need an Account?</span></span>
<!--                <span class="desktop22-text12"><span>Sign Up</span></span>-->
                <a class="signup" href="../index.html">Sign Up</a>


                <button type="button" class="btnlogin">Login</button>
                <input
                        type="text"
                        placeholder="placeholder"
                        class="desktop22-textinput input"
                />

                <input type="text" placeholder="Password" class="input2">
                <input type="checkbox" checked="true" class="desktop22-checkbox" />

            </div>
            <div class="desktop22-container1"></div>
        </div>
    </div>
</div>

<secti>
    <div>
        <div>
            <link href="./desktop7.css" rel="stylesheet" />
            <div class="desktop7-container">
                <div class="desktop7-desktop7">
                    <span class="desktop7-text"><span>Register User</span></span>
                    <input id="txtYourId" type="text" placeholder="Input" class="yourid" />
                    <input  id="txtYourName"  type="text" placeholder="Input" class="yourname" />

                    <input  id="txtEmail"  type="text" placeholder="Input" class="email" />
                    <input  id="txtPhoneNumber" type="text" placeholder="Input" class="phonenum" />

                    <input  id="txtUserName" type="text" placeholder="Input" class="username" />

                    <input id="txtpassword" type="text" placeholder="Input" class="password" />

                    <input id="txtNICNumber" type="text" placeholder="Input" class="nicnumber" />

                    <input id="txtAddress" type="text" placeholder="Input" class="address" />
                    <span class="desktop7-text02"><span>Your id</span></span>
                    <span class="desktop7-text04"><span>Your Name</span></span>
                    <span class="desktop7-text06"><span>Email</span></span>
                    <span class="desktop7-text08"><span>Phone Number</span></span>
                    <span class="desktop7-text10"><span>Username</span></span>
                    <span class="desktop7-text12"><span>Password</span></span>
                    <span class="desktop7-text14"><span>NIC Number</span></span>
                    <span class="desktop7-text16"><span>Address</span></span>
                    <span class="desktop7-text18">
        <span>Upload ID Card Front Photo</span>
      </span>
                    <span class="desktop7-text20">
        <span>Upload ID Card back Photo</span>
      </span>


                    <button type="button" id="btnRegisterCustomer"  class="buttonregister">register</button>
                    <input id="fileIDFrontPhoto" type="file" class="uploadidcardfrontphoto" required>
                    <input id="fileIDBackPhoto" type="file" class="uploadidcardbackphoto" required>
                </div>
            </div>
        </div>

    </div>

</secti>


<script src="../controllers/customerLoginController.js"></script>

</body>
</html>