<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/rentalrequests.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../assets/css/boostrap/bootstrap.min.css">

</head>


<body>

<header class="header">
    <a href="#" class="logo">Cars.</a>

    <nav class="navbar">
        <a href="adminhome.html" style="--i:1;" class="active">Home</a>
        <a href="Cars.html" style="--i:2;" >Cars</a>
        <a href="customers.html" style="--i:3;" >Customer Details</a>
        <a href="rentalRequests.html" style="--i:4;" >Rent Requests</a>
        <a href="drivers.html" style="--i:5;" >Drivers</a>
        <a href="schedule.html" style="--i:6;" >Schedule</a>
        <a href="Income.html" style="--i:7;" >Income</a>
    </nav>

    <div class="social-media">
        <a href="#" style="--i:1;" ><i class='bx bxl-twitter'></i></a>
        <a href="#" style="--i:2;" ><i class='bx bxl-facebook-circle'></i></a>
        <a href="#" style="--i:3;" ><i class='bx bxl-instagram' ></i></a>
    </div>

</header>

<main>

<!--    <section class="table">-->

<!--        <table class="table">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th scope="col">Name</th>-->
<!--                <th scope="col">Email</th>-->
<!--                <th scope="col">Id</th>-->
<!--                <th scope="col">Address</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr>-->
<!--                <th scope="row">1</th>-->
<!--                <td>Mark</td>-->
<!--                <td>Otto</td>-->
<!--                <td>@mdo</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th scope="row">2</th>-->
<!--                <td>Jacob</td>-->
<!--                <td>Thornton</td>-->
<!--                <td>@fat</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th scope="row">3</th>-->
<!--                <td colspan="2">Larry the Bird</td>-->
<!--                <td>@twitter</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->

<!--    </section>-->

<!--</main>-->



    <main class="container">
        <section class="bookingDetailSection" id="bookingDetailsForm">
            <div>
                <h1 class="text-primary fw-bold text-center">Rental Requests</h1>
            </div>

            <div class="card bookingCard shadow ">
                <div class="card-body">
                    <div class="row mt-2 mb-2 d-flex justify-content-center">
                        <div class="row justify-content-evenly gap-3" style="height: 300px">
                            <table class="table table-striped mt-1 table table-bordered table-hover text-center">
                                <thead class="bg-primary text-white">
                                <tr>
                                    <th>Rent Id</th>
                                    <th>User NIC</th>
                                    <th>Car Reg NO</th>
                                    <th>Pick Up Date</th>
                                    <th>Pick Up Time</th>
                                    <th>Return Date</th>
                                    <th>Return Time</th>
                                    <th>Location</th>
                                    <th>Rent Type</th>
                                </tr>
                                </thead>
                                <tbody id="bookingDetail">


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>




</body>


</html>